.index_table
  text-align: left
  margin-top: 10px
  width: 100%
  margin-bottom: 30px

  tr
    border-bottom: 1px solid $gray
    height: 37px

    .index-table-action
      font-size: 12px
      padding: 2px 6px

    .show-column
      width: 55px
    .edit-column
      width: 40px
    .destroy-column
      width: 60px

form
  margin-top: 20px

  .field
    label
      font-weight: bold

  .actions
    text-align: right
    margin-top: 20px

  input[type='text'], textarea
    color: $black

  #tags_list_field 
    border-color: rgb(204,204,204)

    li
      span, input
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
        color: $black
        font-size: 14px
